<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictor </title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="Open">Open:</label>
        <input type="number" id="Open" name="Open"><br>
        <label for="High">High:</label>
        <input type="number" id="High" name="High"><br>
        <label for="Low">Low:</label>
        <input type="number" id="Low" name="Low"><br>
        <label for="Volume">Volume:</label>
        <input type="number" id="Volume" name="Volume"><br>
        <input type="submit" value="Submit">
      </form>
      
</body>
</html>